<div class="container withMargin">
    <div class = "row">
      <h1>Blockchain Component</h1>
    </div>
    <div class = "row">
      <div class = "col">
        <button type="button" class="btn btn-primary" (click)="getCurrentAccountBalance(selectedAddress)">Call Api: Balance</button>
      </div>
      <div class = "col">
        <button type="button" class="btn btn-primary" (click)="getCurrentLastTransactions(selectedAddress)">Call Api: Last transactions</button>
      </div>
    </div>
  </div>
  <div class="container withMargin">
    <div class = "row">
      <div class = "col-6">
  
        <div class = "row withMargin">
          <input [(ngModel)] = "selectedAddress" ngDefaultControl>
        </div>
        <div class = "row withMargin">
  
        </div>
        <p [(ngModel)] = "this.currentBalance" ngDefaultControl>
          Selected symbol: {{this.selectedAddress}} : Current balance: {{this.currentBalance}}
          Selected symbol: {{this.selectedAddress}} : Last transactions:}
        </p>
        <div class="col-6">
            <ul class = "list-group">
                <li class = "list-group-item" *ngFor = "let trans of lastTransactions">{{trans}}</li>
            </ul>
        </div>
    </div>
    </div> 
  </div>
