<div class="container withMargin">
    <div class = "row">
      <h1>Blockchain Component</h1>
    </div>
    <div class = "row">
      <div class = "col">
        <button type="button" class="btn btn-primary" (click)="GetCurrentAccountBalance(selectedAddress)">Call Api: Balance</button>
      </div>
      <!-- <div class = "col">
        <button type="button" class="btn btn-primary" (click)="GetCurrentLastTransactions(selectedAddress)">Call Api: Last transactions</button>
      </div> -->
    </div>
  </div>
  <div class="container withMargin">
    <div class = "row">
      <div class = "col-6">
  
        <div class = "row withMargin">
          <input [(ngModel)] = "selectedAddress" ngDefaultControl>
        </div>
        <div class = "row withMargin">
  
        </div>
        <p [(ngModel)] = "this.lastTransactions" ngDefaultControl>
          <br>Selected symbol: {{this.selectedAddress}}
          <br>Last transactions:
        </p>
        <p [(ngModel)] = "this.btcDivider" ngDefaultControl></p>
        <p [(ngModel)] = "this.lastTransDateNumber" ngDefaultControl>
          <br>Last transaction date: {{this.lastTransDateNumber}}
        </p>
        <div class="col-6">
            <ul class = "list-group">
                <li class = "list-group-item" *ngFor = "let trans of lastTransactions">{{trans.result / btcDivider}}</li>
            </ul>
        </div>
    </div>
    </div> 
  </div>
