<div class = root>

  <nav class="navigation-bar">
    <a class="navbar-brand" routerLink = "../binance">
      <img src="./assets/icon.svg" width="30" height="30" class="d-inline-block align-middle" alt="">
      {{projectName}}
    </a>
    <p [(ngModel)] = "this.lastRefresh" ngDefaultControl>
      {{this.lastRefresh.toString()}}
    </p>
  </nav>

  <div class = "root-content">
    <div class = "left-pane">
      <ng-container *ngFor = "let object of this.leftPaneObjects; let i = index">
        <!-- <div class = "left-pane-link" [ngClass] = "{'active' : object.active}" (click) = "setActive(object, this.leftPaneObjects)" routerLinkActive = "active"> -->
        <div class = "left-pane-link" routerLinkActive = "active">
          <a [routerLink] = "object.routerLink">
            <svg class="svg-icon" viewBox="0 0 20 20" width = "20px">
              <path [attr.d]="object.svgPath"></path>
            </svg>
            <div class = "link-text">{{object.name}}</div>
          </a>
        </div>
      </ng-container>
    </div>

    <div class = "content">
      <router-outlet></router-outlet>
    </div>
  </div>
  


</div>


<footer class="fixed-bottom footer">
  <!-- Copyright -->
  <div class="text-right p-3 footer" style="background-color: rgba(0, 0, 0, 0.1)">
    Copyrights ©  <a class="text-dark" href="mailto:rafal.bartko@gmail.com">TradeDelta</a>
                  <a class="text-dark" href="mailto:pawelwojtowicz89@gmail.com">TradeDelta</a>
  </div>
  <!-- Copyright -->
</footer>