<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink = "../dashboard">
      <img src="./assets/icon.svg" width="30" height="30" class="d-inline-block align-middle" alt="">
      {{projectName}}
    </a>
</nav>

<router-outlet></router-outlet>

<footer class="fixed-bottom ">
  <!-- Copyright -->
  <div class="text-right p-3 footer" style="background-color: rgba(0, 0, 0, 0.1)">
    Copyrights ©  <a class="text-dark" href="mailto:rafal.bartko@gmail.com">TradeDelta</a>
                  <a class="text-dark" href="mailto:pawelwojtowicz89@gmail.com">TradeDelta</a>
  </div>
  <!-- Copyright -->
</footer>